.checkbox {
    position: relative;

    width: 4.5rem;
    height: 2rem;

    background-color: #ddd;
    border-radius: 3rem;

    font-size: 30px;
    
    cursor: pointer;

    outline: none;
    user-select: none;
  
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;   
    
    &::after {
        position: absolute;

        left: 0;

        content: "";

        width: 2rem;
        height: 2rem;

        border-radius: 50%;
        background: #fff;

        -webkit-box-shadow: 0 0 .25rem rgba(0,0,0,.3);
                box-shadow: 0 0 .25rem rgba(0,0,0,.3);
        -webkit-transform: scale(.7);
                transform: scale(.7);

        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        user-select: none;
    }

    &:checked {
        background: #0040e5;

        &::after {
            left: calc(100% - 2rem);
        }
    }
}