.catalog {
    width: 100%;

    &-head {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        padding-bottom: 3.2rem;

        & h1 {
            padding-bottom: 2.4rem;
        }
    
        & p {
            color: #828282;
        }

        &_filters {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            min-width: 12rem;
            min-height: 5rem;

            padding-top: 1rem;

            & h2 {
                padding-bottom: 2.4rem;
            }

            @include tablet {
                align-items: flex-end;
            }
        }

        &_filterwrap {
            display: flex;
            align-items: center;

            & p {
                padding-right: 1rem;
            }
        }

        @include tablet {
                flex-direction: row;
        }
    }
}