.productlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: -1.6rem;
    margin-right: -1.6rem;

    &-error {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}